extends ../layouts/common

block content
  h1 Books
  
  .container
    .row
      each book in books
        .col-md-12.col-lg-3.col.mb-4
          .card
            img.card-img-top(src=book.coverUrl)
            .card-body
              h5.card-title= book.title
              p.card-text= book.description
              a.btn.btn-primary(href='cart/add/' + book.id) Add to carts