h1 I love CoderX

a(href="/todos") Todo list

form(action="/todos", method="get")
  input(type="text", name="q")
  button Search

form(action="/todos/create", method="post")
  input(type="text", name="todo")
  button Create